@tailwind base;
@tailwind components;
@tailwind utilities;

@import "variables";



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $backgroundColor;
    color: #fff;
    font-family: var(--font-pretendard);


}

*::-webkit-scrollbar{
    width: 0;
    display: none;
}
